@model IEnumerable<Actor>
@{ 
    ViewData["title"] = "List of Actors";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(x=>x.profilepic)</th>
               
                    <th>@Html.DisplayNameFor(x=>x.fullname)</th>
                
                    <th>@Html.DisplayNameFor(x=>x.bio)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var x in Model)
            {
                <tr>
                    <td class="align-middle">
                        <img class="rounded-circle" src="@x.profilepic" alt="@x.fullname" style="max-width:150px" />
                    </td>
                    <td class="align-middle">@Html.DisplayFor(model=>x.fullname)</td>
                    <td class="align-middle">@Html.DisplayFor(model=>x.bio)</td>
                    <td class="align-middle">
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@x.Id"><i class="bi bi-pencil-square"></i>&nbsp; Edit </a> |
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@x.Id"><i class="bi bi-eye"></i> &nbsp;Details </a> |
                        <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@x.Id" ><i class="bi bi-trash"></i>&nbsp; Delete </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="text-white" style="position:fixed;right:25px;bottom:25px">
    <a asp-controller="Actors" asp-action="Create" class="btn btn-success" >
        <i class="bi bi-plus-circle"></i>&nbsp; New
    </a>
</div>